<hr/>

<h2>Comments</h2>

<form method="POST" action="https://dev.staticman.net/v3/entry/github/andreacorinti/andreacorinti.com/master/comments">
  <input name="options[redirect]" type="hidden" value="https://www.andreacorinti.com/staticmantest/">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>
  
  <button type="submit">Go!</button>
</form>