<hr />
<p>
  Other than where specified, the content on this site is published under a <a href="https://creativecommons.org/licenses/by/4.0/" target="blank">Creative Commons Attribution licence</a>.
</p>
<p>
Feel free to take a peak at the source on <a href="https://github.com/andreacorinti/andreacorinti.com" target="blank">Github</a>.
</p>

<p>
  Build with <a href="https://www.11ty.io/" target="blank">11ty</a>, <a href="https://github.com/philhawksworth/eleventyone"target="blank">eleventyone</a>, <a href="https://github.com/" target="blank">Github</a> and <a href="https://www.netlify.com/" target="blank">Netlify</a>.
</p>
<p>version: 1.0.1</p>
<p>
&#9400; Andrea Corinti {{ date | timestamp }}
</p>
