<div class="tags tags-rail">
	<span class="tags-bigger">
		<!--<a href="/" class="tag tag-borderless{% if page.url == '/' %} active{% endif %}">Home</a>-->
		<a href="/" class="tag tag-borderless{% if page.url == '/' %} active{% endif %}">About</a>
	</span>
	<a href="/italiano/" class="tag{% if page.url == '/italiano/' %} active{% endif %}">Italiano</a>	
	<a href="/projects/" class="tag{% if page.url == '/projects/' %} active{% endif %}"><del>Projects</del></a>
	<a href="/articles/" class="tag{% if page.url == '/articles/' %} active{% endif %}">Articles</a>
	<a href="/contact/" class="tag{% if page.url == '/contact/' %} active{% endif %}" title="contact">Contact</a>
	<a href="/bookmarks/" class="tag{% if page.url == '/bookmarks/' %} active{% endif %}">Bookmarks</a>
	<a href="/search/" id="search-link" class="tag{% if page.url == '/search' %} active{% endif %}">Search</a>
</div>
