<p class="social">
<a href="https://twitter.com/AndreaCorinti" target="blank">Twitter</a> | 
<a href="https://www.instagram.com/xabacadabra/" target="blank">Instagram</a> | 
<a href="http://github.com/andreacorinti/" target="blank">Github</a> |
<!--<a href="https://gitlab.com/xabaras" target="blank">Gitlab</a> |-->
<a href="https://www.goodreads.com/user/show/18004930-andrea-corinti" target="blank">Goodreads</a> | <a href="https://www.tvtime.com/it/user/2987728/profile" target="blank">TvTime</a> |
<a href="https://www.last.fm/user/XabarasFF" target="blank">Last.fm</a> |
<a href="https://steamcommunity.com/id/xabaras89/" target="blank">Steam</a>

</p>