---
description:
layout: base.njk
templateEngineOverride: md, njk
---

{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none titolo">{{ meta.siteName }}</h1>
    <img class="u-photo avatar" src="{{ avatar }}" alt="Andrea Corinti">
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mx-auto p-note">
      An Italian Web World Citizen.
    </h2>
  </div>
</header>
<main class="tdbc-container">
{{ content | safe }}
</main>

<div class="h-card" style="height: 0; overflow: hidden;">
  <p class="p-name">Andrea Corinti</p>
  <span class="p-nickname">Xab</span>
  <img class="u-photo" src="{{ avatar }}" alt="Andrea Corinti"/> 
  <p class="p-note">An Italian Web World Citizen. Web Editor for Edizioni Edilingua. Bio is a Poison-elemental attack that can inflict the Poison status.</p>
  <a class="u-url" rel="me" href="https://www.andreacorinti.com/">https://www.andreacorinti.com/</a>
  <a class="u-url" rel="me" href="https://social.andreacorinti.com/@xabacadabra">https://social.andreacorinti.com/@xabacadabra</a>
  <div class="p-category">Webdev</div>
</div>