---
description: Homepage of Andrea Corinti (Xab), Web Editor and Italian Web World citizen.
layout: base.njk
templateEngineOverride: md, njk
---

{% include 'sitenav.njk' %}

<main class="tdbc-container">
{{ content | safe }}
</main>

<div class="h-card" style="height: 0; overflow: hidden;">
  <p class="p-name">Andrea Corinti</p>
  <span class="p-nickname">Xab</span>
  <img class="u-photo" src="{{ avatar }}" alt="Andrea Corinti"/> 
  <p class="p-note">An Italian Web World Citizen. Web Editor for Edizioni Edilingua. Bio is a Poison-elemental attack that can inflict the Poison status.</p>
  <a class="u-url" rel="me" href="https://www.andreacorinti.com/">https://www.andreacorinti.com/</a>
  <a class="u-url" rel="me" href="https://misskey.social/@xabacadabra">https://misskey.social/@xabacadabra</a>
  <div class="p-category">Webdev</div>
</div>