<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <div class="tdbc-sitenav__brand">
      <!--<a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>-->
      <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
        <li>
          <a href="/">HOME</a> •
          <a href="/blog-0">BLOG</a> •
          <a href="/projects">PROJECTS</a> •
          <a href="/bookmarks">LINKS</a> •
          <a href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search..." />
      <i class="search-icon">🔍</i>
      <ul id="search-results"></ul>
    </div>
  </div>
</nav>