<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <!--<a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>-->
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      <li>
        <a href="/">HOME</a> •
        <a href="/projects">PROJECTS</a> •
        <a href="/italian">BLOG ITALIANO</a> •	 
        <a href="/english">ENGLISH BLOG</a> •	
        <!--a href="/bookmarks">BOOKMARKS</a-->
        <a href="/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
