@use "theme";

.share-page {
  margin-top: 15px;
  padding: 8px 15px;
  border-radius: 5px;
  background: theme.$tdbc-color-primary; // Sostituito con namespace
  color: theme.$tdbc-color-secondary; // Sostituito con namespace
  text-align: center;

  a {
    margin-left: 10px;
    color: rgb(0 0 0);
    font-weight: bold;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}