.social {
    padding: 2px;
    font-family: Teko, sans-serif;
    font-size: 170%;
    text-align: center;
  }

.social ul {
    list-style: none;
  }

.social li {
    display: inline-block;
  }

.social svg {
    width: 96px;
  }

.twitter {
 fill: #00acee;
}

.twitter:hover {
    fill: var(--tdbc-link-hover);
}

.instagram{
 fill: #E1306C;
}

.instagram:hover {
    fill: var(--tdbc-link-hover);
}

.github{
 fill: rgb(161 161 161);
}

.github:hover{
    fill: var(--tdbc-link-hover);
   }

.lastfm{
    fill: red;
}

.lastfm:hover {
    fill: var(--tdbc-link-hover);
}

.rss{
  fill: orange;
}

.rss:hover {
  fill: var(--tdbc-link-hover);
}


// bandiere

.bandiere {
  padding: 2px;
  font-family: Teko, sans-serif;
  font-size: 170%;
  text-align: center;
}

.bandiere ul {
  list-style: none;
}

.bandiere li {
  display: inline-block;
  margin: 0 5px 5px;
}

.bandiere svg {
  width: 96px;
}

.italia:hover {
  fill: white;
}

.uk:hover {
  fill: white;
}