.social {
    font-family: Teko;
    font-size: 170%;
    text-align: center;
    padding: 2px;
  }

.social ul {
    list-style: none;
  }
.social li {
    display: inline-block;
  }
.social svg {
    width: 96px;
  }
.twitter {
 fill: #00acee;
}
.twitter:hover {
    fill: white;
}
.instagram{
 fill: #E1306C;
}
.instagram:hover {
    fill: white;
}
.github{
 fill: rgb(161, 161, 161);
}
.github:hover{
    fill: white;
   }
.lastfm{
    fill: red;
}
.lastfm:hover {
    fill: white;
}

// bandiere

.bandiere {
  font-family: Teko;
  font-size: 170%;
  text-align: center;
  padding: 2px;
}

.bandiere ul {
  list-style: none;
}
.bandiere li {
  display: inline-block;
  margin: 0px 5px 5px 5px;
}
.bandiere svg {
  width: 96px;
}
.italia:hover {
  fill: white;
}
.uk:hover {
  fill: white;
}