.titolo {
  animation: glow 2500ms linear infinite 2000ms;
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

@keyframes glow 
{
  40% {
    text-shadow: 0 0 8px #fff;
  }
}