@use "sass:color";
@use "sass:string";
@use "theme";

// Definizione delle varianti tipografiche
@each $type in theme.$tdbc-typography-variants {
  #{$type},
  .tdbc-#{$type} {
    font-weight: theme.$tdbc-strong-font-weight;
    font-family: Teko;
    line-height: 1.15;
    margin-top: auto;
    margin-bottom: 0.4em;
  }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to built-in min/max Sass functions, requires `string.unquote()` to correctly
// render as CSS min/max
h1,
.tdbc-h1 {
  font-size: theme.$tdbc-h1-font-size;
  font-size: string.unquote("min(max(3rem, 5vw), #{theme.$tdbc-h1-font-size})");
  // padding-bottom: 5vh;
}

h2,
.tdbc-h2 {
  font-size: theme.$tdbc-h2-font-size;
  font-size: string.unquote("min(max(2.5rem, 5vw), #{theme.$tdbc-h2-font-size})");
}

h3,
.tdbc-h3 {
  font-size: theme.$tdbc-h3-font-size;
}

h4,
.tdbc-h4 {
  font-size: theme.$tdbc-h4-font-size;
  color: theme.tdbc-color("gray");
}

p,
li {
  font-size: theme.$tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 1rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

/*strong {
  font-weight: theme.$tdbc-strong-font-weight;
}*/

a:not(.tdbc-button) {
  color: theme.$tdbc-link-color;
}

a:hover {
  color: #fdeb37;
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.15em;
  background-color: theme.tdbc-color("light");
  color: theme.tdbc-color("gray");
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border: 1px solid color.scale(theme.tdbc-color("gray"), $lightness: 50%);
  border-radius: 2px;
  font-size: 0.75em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid theme.tdbc-color("secondary");
  color: theme.tdbc-color("gray");

  &,
  p {
    font-size: theme.$tdbc-h4-font-size;
  }

  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.tdbc-lead {
  font-size: theme.$tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.tdbc-list-unstyled {
  list-style: none;
  padding: 0;
}

time {
  text-align: center;
  font-size: smaller;
  color: #868686;
  padding: 2vh;
}