@use "theme";

.tdbc-content-maxlength {
  max-width: 80ch;
}

.tdbc-anchor {
  display: inline-block;
  margin-left: 0.25em;
  transition: 180ms opacity ease-in-out;
  opacity: 0.6;
  font-size: 0.65em;
  vertical-align: top;

  &:hover {
    opacity: 1;
  }
}

// Allineamenti
@each $alignment in theme.$tdbc-alignments {
  .tdbc-text-align--#{$alignment} {
    text-align: #{$alignment};

    @if ($alignment == "center") {
      > a {
        align-self: center !important;
      }
    }
  }
}

// Colori di sfondo
@each $key in theme.$tdbc-background-colors {
  .tdbc-background--#{$key} {
    background-color: theme.tdbc-color($key);
  }
}

// Colori del testo (ink)
@each $key in theme.$tdbc-ink-colors {
  .tdbc-ink--#{$key},
  a.tdbc-ink--#{$key} {
    color: theme.tdbc-color(#{$key});
  }

  .tdbc-ink--#{$key} > a:not(.tdbc-button) {
    color: inherit;
  }
}

.tdbc-mx-auto {
  margin-right: auto;
  margin-left: auto;
}

// Spaziature
@each $key, $unit in theme.$tdbc-spacing {
  .tdbc-my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .tdbc-mt-#{$key} {
    margin-top: $unit;
  }
}

.tdbc-mb-none {
  margin-bottom: 0;
}