@use "sass:color";
@use "theme";

@media only screen and (width <= 760px),
(device-width >= 768px) and (device-width <= 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  td { 
    position: relative;
    padding-left: 50%; 
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
  }

  td::before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}

table {
  width: 100%;
  margin-bottom: 1em;
  font-size: 15px;
  border-collapse: collapse;
  overflow-x: auto;
}

table + table {
  margin-top: 1em;
}

thead {
  border-bottom: 2px solid color.mix(white, black, 25%); // Sostituito mix() con color.mix()
  background-color: black; // Sostituito $text-color con un valore fisso
  color: white;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid color.mix(theme.$tdbc-color-secondary, theme.$tdbc-color-primary, 55%); // Sostituito mix() con color.mix()
}

tr,
td,
th {
  vertical-align: middle;
}

.resumeAvatar {
  display: block;
  width: 50%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}