<!--Welcome to Andrea Corinti website! Version 1.0-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>{{ title }}</title>
</head>

<body class="{{ bodyClass }}">

  <div class="sidebar">
    <header>
      <div class="sidebar-container">
        {%- include "sidemenu.njk" -%}
        {% include "search-ui.njk" %}
        <div class="page-details">
          {% block sidebar %}
          <h1>{{ title }}</h1>
          {%- if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
          {% endblock %}
        </div>
      </div>
    </header>
  </div>
  <div class="main-container">
    <div class="container">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </div>
    <footer>
        <div class="solid-footer">
          <div class="container">
          {% block prefooter %}{% endblock %}
          {% include "footer.njk" %}
          </div>
        </div>
    </footer>
  </div>
  <script>{% include "js/ac.js" %}</script>
</body>

</html>