<!--Welcome to Andrea Corinti website! Version 1.2-->
<!doctype html>
<html lang="{%- if lang -%}{{ lang }}{%- else -%}en{%- endif -%}">

  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Andrea Corinti</title>
    <meta name="google-site-verification" content="kbpfaezJ3UNwphwLZGewT45QLGWrZ5x2lgkokNokCN0"/>
    <meta name="description" content="{%- if sommario -%}{{ sommario }}{%- else -%}Andrea Corinti website & blog: web development, videogames, society, music and tech stuff. An italian web world citizen digital home.{%- endif -%}"/>
    {% include "favicons.njk" %}

    <!--social-meta-->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ sommario }}">
    <meta property="og:image" content="{{ immagine }}">
    <meta property="og:url" content="https://andreacorinti.com{{ page.url }}">
    <meta property="og:description" content="{%- if sommario -%}{{ sommario }}{%- else -%}Andrea Corinti website & blog: web development, videogames, society, music and tech stuff. An italian web world citizen digital home.{%- endif -%}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@xabaras89"/>
    <meta name="twitter:creator" content="@xabaras89"/>

  </head>

  <body class="{{ bodyClass }}">

    <div class="sidebar">
      <header>
        <div class="sidebar-container">
          <div class="page-details">
            {% block sidebar %}
              <h1 class="title">
              {%- if avatar %}
                <img src="{{ avatar }}" alt="{{ avatar }}" class="avatar">
              {% endif %}
              {{ title }}
              </h1>
              {%- if subtitle %}
                <p class="subtitle">{{ subtitle }}</p>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </header>
    </div>
    <div class="main-container">
      <div class="container">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </div>
    </div>
    <!--Google Analytics-->
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132343081-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-132343081-1');
    </script>

    <script>
      {% include "js/ac.js" %}
    </script>
  </body>

</html>