---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Andrea Corinti Blog",
    "subtitle": "Riflessioni su internet, videogiochi, musica metal e chiacchere varie di un web world citizen.",
    "language": "it",
    "url": "https://andreacorinti.com/",
    "author": {
      "name": "Andrea Corinti",
      "email": "corinti@gmx.com"
    }
  }
}
---

<rss version="2.0"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xml:base="{{ metadata.url }}"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>it-IT</language>
    <lastBuildDate>{{ collections.blog | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <image>
      <url>{{ meta.url }}/img/avatar3.jpg</url>
      <title>{{ metadata.title }}</title>
      <link>{{ metadata.url }}</link>
    </image>

    {%- for post in collections.blog | limit(25) %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title><![CDATA[{{ post.data.title }}]]></title>
      <link>{{ absolutePostUrl }}</link>
      {% if post.data.immagine %}
      <media:content url="{{ post.data.immagine | absoluteUrl(metadata.url) }}" medium="image" />
      {% endif %}
      <description><![CDATA[{{ post.data.sommario | htmlToAbsoluteUrls(absolutePostUrl) }}]]></description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>