.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
  width: 150px;                 /* Set width of cards */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  border: 1px solid $evidenziatag;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  margin: 5px;                  /* Add space between cards */
}

.card-header {
  color: $accent-color;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid $accent-color;
  background-color: rgba( $evidenziatag, .3);
  padding: 15px 5px;
  min-height: 40px;
}

.card-date {
  color: $evidenziatag;
  text-align: center;
  font-size: 10px;
  border-top: 1px solid $evidenziatag;
  padding-top: 1px;
  padding-bottom: 5px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  //padding: 5px 0;            /* Add padding to the top/bottom */
  a:hover {
    border-bottom: 0px;
  }
}

.img-archivio {
  height: 150px;
  width: auto;
}

.img-archivio:hover {
  opacity: 0.5;
}

.main-description {
  color: $accent-color;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
