.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card {
  width: 120px;                 
  display: flex; // Children use Flexbox
  flex-direction: column; // Rotate Axis
  overflow: hidden; // fix corners 
  margin: 4px; // space between cards 
}

.card-header {
  color: $text-color;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  //border: 3px solid $accent-color;
  background-color: $evidenziatag;
  padding: 10px 5px;
  height: 50px;
	text-shadow: 2px 2px 2px #000000;
}

.card-date {
  color: $evidenziatag;
  text-align: center;
  font-size: 10px;
  //border-top: 1px solid $evidenziatag;
  padding-top: 5px;
  //padding-bottom: 5px;
}

.card-main {
  display: flex;           
  flex-direction: column;     
  justify-content: center; /* Group Children in Center */
  align-items: center; /* Group Children in Center (on cross axis) */
  a:hover {
    border-bottom: 0px;
  }
}

.img-archivio {
  height: 150px;
  width: auto;
	padding: 0;
}

.img-archivio:hover {
  opacity: 0.5;
	   box-shadow: 0 0 2px 1px $accent-color;
}

.main-description {
  color: $accent-color;
  font-size: 12px;
  text-align: left;
	padding: 5px;
	max-height: 150px;
	min-height: 150px;
}
