/* Tags */
.tags {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	margin-top: -10px;
}

.tag-inline,
.tags .tag {
	border: 1px solid rgba(0, 0, 0, .08);
	font-size: 12px;
	line-height: 18px;
	height: auto;
	text-transform: uppercase;
	color: #666;
	padding: 0 6px;
	margin: 0 5px;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
}
.tag-inline {
	font-size: 12px;
	margin-left: 0;
}
.tags .tag:first-child {
	margin-left: 0;
}
.tags .tag:last-child {
	margin-right: 0;
}

.tags .tag-borderless,
.tags .tag-borderless:visited {
	border-color: transparent;
}
.tags .tag-cased {
	text-transform: none;
}
.tags .tag-event {
	border-color: transparent;
	text-decoration: none;
	text-transform: none;
}
.tags .tag.active,
.tags a[href].tag:hover,
.tags a[href].tag:visited:hover {
	background-color: $evidenziatag;
	color: #fff;
	border-color: $evidenziatag;
}

.tags .tag:hover {
	background-image: $evidenziatag;
	background-color: $evidenziatag;
	color: #fff;
}

.tags .tag + .tag {
	margin-left: -6px;
}

.tags.tags-rail {
	white-space: normal;
	margin-top: .5em;

	@media (max-width: $bp-narrow) {
		text-align: center;
	}
}
.tags.tags-rail .tag {
	margin-right: 0;
	margin-left: 1px;
	margin-bottom: 5px;
}
