// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$page-color: #ffffff; 
$text-color: rgb(0, 0, 0);
$accent-color: #21219c;
$evidenziatag: #4B61D1; // avanti savoia! (?!)
