---
title: Search Site
subtitle: Looking for something in particular ?
excludeFromSitemap: true
---

{% extends 'layouts/base.njk' %}

{% block sidebar %}
  <h1>Search 🔎</h1>
  <p>
  Search this site
</p>
{% endblock %}

{% block content %}

  <h2>Search this site</h2>
  <p>
  This site is indexed by Google. So it can be searched.
</p>

  <form action="https://www.google.com/search" method="get" class="search">
    <input type="hidden" name="q" id="q" value="site:http://andreacorinti.com">
    <p>
      <label for="search-str">Search <small>(results displayed on Google's site)</small>
      </label>
      <input type="text" name="q" id="search-str"></p>
    <p>
      <button type="submit" class="submit">Search with Google</button>
    </p>
  </form>
  
{% endblock %}